---
import Layout from "../layouts/Layout.astro";

//import { Image } from "astro:assets";
//import hune from "../assets/hune.png";

import "../styles/id.css";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <main>
        <h2>About</h2>
        <!-- 
        <Image src={hune} alt="soil logo" />
    -->
        <p>このページはSOILのWikiページです。</p>
        <p>活動報告や規則について記述していきます。</p>
        <p class="backtotop"><a href="/">トップページへ</a></p>
    </main>
</Layout>
