---
import Layout from "../layouts/Layout.astro";
import SearchComponent from "../components/Search.astro";
import "../styles/id.css";
---

<Layout>
    <main>
        <h2>Search</h2>
        <SearchComponent />
        <p class="backtotop"><a href="/">トップページへ</a></p>
    </main>
</Layout>
