---
import Menu from "../components/Menu.astro";
import { Image } from "astro:assets";
import soil from "../assets/soil.png";
---

<header>
    <h1><a href="/">SOIL's WIKI</a></h1>
    <p>
        This page is soil's wiki page.<br />
        Built with Astro and microCMS.
    </p>
    <a href="/"><Image src={soil} alt="soil logo" width={100} /></a>
    <Menu />
</header>

<style>
    header {
        width: 100%;
        position: relative;
    }
    header h1{
        text-align: right;
    }
    header h1 a {
        color: #000;
        list-style: none;
    }
    header p {
        text-align:right;
    }
    header img {
        position: absolute;
        left: 10px;
        top: 10px;
    }
</style>
